<!doctype html>
<html>
<head>
  <title>Get back to work!</title>
  <link rel="stylesheet" href="/screen.css" type="text/css" media="screen" />
</head>
<body>
  <h1>No <span id="host"><%= request.host.split('.')[-2] %></span> for you!</h1>
  <h2>Get back to work!</h2>
</body>
</html>
